.*
!.editorconfig

**/bin/
**/obj/
**/TestResults/
**/coverage/
**/node_modules/
**/*.user
**/*.suo
**/*.log

azure-pipelines.yml
pipelines/
docs/
tests/
dev-keys/
*.md
docker-compose*.yml
docker/README.md

.env
.env.*
